*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {text-decoration: none;color: inherit;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	background: #5d5d5d;
}

.teaser {
	max-width: 768px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	background: #f5f5f5;
}
.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 10px 10px 0;
}
.teaser__item {
	max-width: 33.3333%;
	padding: 10px 0 0 10px;
}
.teaser__img img {
	max-width: 100%;
	width: auto;
	height: auto;
}
.teaser_text {
	padding: 10px 10px 0 10px;
	text-align: center;
	word-wrap: break-word;
}

@media (max-width: 768px) {
	.teaser__item {
		max-width: 35.3333%;
	}
}

@media (max-width: 414px) {
	.teaser__item {
		max-width: 70.3333%;
	}
}

